<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{person.detail.title}">Person detail title here</title>
</head>
<body>
<section>
    <h2 th:text="#{person.detail.title}">Person detail title here</h2>
    <div class="person person_detail" th:if="${person}">
        <div th:text="${person.name}">Person name</div>
        <div><a th:href="${person.url}" th:text="#{person.detail.url}" target="_blank">To personal website</a></div>
    </div>
    <div th:unless="${person}" th:text="#{person.detail.notfound}">
        Shown if person is not found
    </div>

</section>

</body>
</html>
