<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{person.list.title}">Person list title</title>
</head>
<body>
<section>
    <h2 th:text="#{person.list.title}">Person title here</h2>
    <div class="person_list">
        <div th:each="p : ${persons}">
            <a th:href="${p.id}" th:text="${p.name}">Person name</a>
        </div>
    </div>

</section>
</body>
</html>